@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .card {
        text-align: center;
        img {
            width: 50%;
            margin-bottom: 20px;
        }

        h1 {
            font-family: 'Lobster', cursive;
        }

        .input {
            margin: 30px 0;
        }

        button {
            width: 100%;
        }
    }
}